<section class="review">
	<% if room.show_form? %>
		<%= render 'review_form', room: room %>
	<%else%>
	<% room.stars.times do %>
		<span class="star filled_star"></span>
	<% end %>
	<% (room.review_points.max - room.stars).times do %>
		<span class="star empty_star"></span>
	<% end %>
	<%= t '.stars', :count => room.total_reviews %>
	<% end %>
</section>